ul {
    width: 97%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    border-bottom: 1px solid #333333;
}

li {
    list-style: none;
    margin-left: 60px;
}

li a {
    text-decoration: none;
    color: black;
}

li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    margin: auto;
    display: block;
}

li a:hover::after {
    width: 100%;
    transition: width 0.3s linear;
    margin-top: 8;
}

li a:hover {
    color: black;
}

.h-1 {
    font-size: 2.986rem;
    line-height: 54px;
}

.div-para {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
}

.para {
    margin-bottom: 0px;
    padding: 0px;
}

.div-section {
    max-height: none;
    margin-top: 60px;
    padding-right: 100px;
    padding-left: 100px;
}

.div-block {
    line-height: 50px;
    display: grid;
    -webkit-box-align: center;
    align-items: center;
}

.h-1 {
    margin-top: 20%;
    margin-bottom: -35px;
    font-size: 3.986rem;
}

.para {
    font-size: 18px;
    line-height: 20px;
    padding-right: 60%;
}

.div-para {
    margin-top: 2%;
    margin-bottom: 0%;
}

.logo {
    margin-top: 40px;
    margin-bottom: -40px;
    margin-left: -40px;
    font-size: 30px;
    letter-spacing: 0.10em;
    font-family: serif;
    font-weight: bold
}

.cont {
    margin-top: -30%;
    margin-bottom: 0%;
    position: relative;
    padding-right: -100px;
    padding-left: 650px;
    width: 50%;
}

.cont img {
    width: 100%;
    height: auto;
}

.button {
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 1px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}

.btn-block {
    margin-top: 20px;
}